h1 {
    color: var(--orange)
}

ul li {
    list-style: none;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.privacy-list {
    margin-top: 4rem !important
}

h3 {
    color: var(--midlight)
}

h5 {
    color: var(--light)
}