<div class="footer midlight">
  <div class="container">
    <p class="copyrights">&copy;
      <span class="current-year">
        {{ currentYear }}</span>
      Fashion Corner ... By / Eng. Basma Elmasry
    </p>
    <ul class="social-links">
      <li><a rel="noopener" href="#" title="Facebook" target="_blank">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
      </li>
      <li><a rel="noopener" href="#" title="Twitter" target="_blank">
          <fa-icon [icon]="twitterIcon"></fa-icon>
        </a>
      </li>
      <li><a rel="noopener" href="#" title="LinkedIn" target="_blank">
          <fa-icon [icon]="linkedinIcon"></fa-icon>
        </a>
      </li>
      <li><a rel="noopener" href="#" title="Instagram" target="_blank">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
      </li>
      <li><a rel="noopener" href="#" title="TikTok" target="_blank">
          <fa-icon [icon]="tiktokIcon"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>